<div class="easyui-accordion">
	<div title="玩家" data-options="iconCls:'icon-ok'">
	{{#link-to 'player' 'all'}}玩家{{/link-to}}：{{#link-to 'playerHero'}}英雄{{/link-to}} {{#link-to 'playerCP'}}冠軍{{/link-to}}<br/>
	{{#link-to 'playeritem'}}背包{{/link-to}}
	{{#link-to 'playerEquipment'}}裝備{{/link-to}}
	{{#link-to 'playerDepot'}}倉庫{{/link-to}}
	{{#link-to 'playerExchange'}}資源{{/link-to}}
	{{#link-to 'playerKey'}}鑰匙{{/link-to}}<br/>
	{{#link-to 'character'}}職業{{/link-to}}：{{#link-to 'playerChExp'}}熟練{{/link-to}}<br/>
	{{#link-to 'characterSkill'}}技能{{/link-to}}：{{#link-to 'playerSkill'}}已學{{/link-to}}
	{{#link-to 'playerSkillSetup'}}已用{{/link-to}}<br/>
	{{#link-to 'playerMission'}}任務紀錄{{/link-to}}<br/>
	{{#link-to 'monster'}}怪物{{/link-to}}：{{#link-to 'playerPet'}}寵物{{/link-to}}<br/>
	{{#link-to 'playerMercenary'}}傭兵{{/link-to}}<br/>
	{{#link-to 'playerBuff'}}增益{{/link-to}}<br/>
	{{#link-to 'playerMessage'}}訊息{{/link-to}}
	{{#link-to 'playerLog'}}紀錄{{/link-to}}
	{{#link-to 'playerMail'}}信箱{{/link-to}}<br/>
	{{#link-to 'playerFriend'}}好友{{/link-to}}
	</div>
	<div title="物品">
	{{#link-to 'item' 'all'}}道具列表{{/link-to}}<br/>
	{{#link-to 'itemUsed'}}消耗品{{/link-to}}
	{{#link-to 'itemStone'}}魔石{{/link-to}}
	{{#link-to 'itemPlus'}}精煉石{{/link-to}}
	{{#link-to 'itemKey'}}鑰匙{{/link-to}}<br/>
	{{#link-to 'itemHonor'}}勳章交換{{/link-to}}
	{{#link-to 'itemSale'}}拍賣{{/link-to}}
	{{#link-to 'itemSyn'}}合成{{/link-to}}<br/>
	{{#link-to 'exchange'}}資源市場{{/link-to}}
	{{#link-to 'exchangeBook'}}紀錄{{/link-to}}
	</div>
	<div title="公會">
	A
	</div>
	<div title="其他">
	{{#link-to 'team'}}隊伍{{/link-to}}
	{{#link-to 'teamJoin'}}加入要求{{/link-to}}<br/>
	{{#link-to 'avatar'}}頭像{{/link-to}}<br/>
	</div>
</div>