<div class="easyui-accordion">
	<div title="玩家" data-options="iconCls:'icon-ok'">
	{{#link-to 'playerHero'}}英雄{{/link-to}} {{#link-to 'playerCP'}}冠軍{{/link-to}}<br/>

	{{#link-to 'character'}}職業{{/link-to}}<br/>
	{{#link-to 'characterSkill'}}技能{{/link-to}}：
	{{#link-to 'monster'}}怪物{{/link-to}}：<br/>
	</div>
	<div title="物品">
	{{#link-to 'item' 'all'}}道具列表{{/link-to}}<br/>
	</div>
	<div title="公會">
	A
	</div>
	<div title="其他">
	</div>
</div>