<div class="easyui-accordion">
	<div title="玩家" data-options="iconCls:'icon-ok'">
	{{#link-to 'player' 'all'}}玩家{{/link-to}}：{{#link-to 'playerHero'}}英雄{{/link-to}} {{#link-to 'playerCP'}}冠軍{{/link-to}}<br/>

	{{#link-to 'character'}}職業{{/link-to}}<br/>
	{{#link-to 'characterSkill'}}技能{{/link-to}}：
	{{#link-to 'monster'}}怪物{{/link-to}}：<br/>
	</div>
	<div title="物品">
	{{#link-to 'item' 'all'}}道具列表{{/link-to}}<br/>
	{{#link-to 'itemUsed'}}消耗品{{/link-to}}
	{{#link-to 'itemStone'}}魔石{{/link-to}}
	{{#link-to 'itemPlus'}}精煉石{{/link-to}}
	{{#link-to 'itemKey'}}鑰匙{{/link-to}}<br/>
	{{#link-to 'itemHonor'}}勳章交換{{/link-to}}
	{{#link-to 'itemSale'}}拍賣{{/link-to}}
	{{#link-to 'itemSyn'}}合成{{/link-to}}<br/>
	{{#link-to 'exchange'}}資源市場{{/link-to}}
	{{#link-to 'exchangeBook'}}紀錄{{/link-to}}
	</div>
	<div title="公會">
	A
	</div>
	<div title="其他">
	{{#link-to 'team'}}隊伍{{/link-to}}
	{{#link-to 'teamJoin'}}加入要求{{/link-to}}<br/>
	{{#link-to 'avatar'}}頭像{{/link-to}}<br/>
	</div>
</div>