<ul class="easyui-tree">
	<li>
		<span>{{#link-to "player"}}玩家管理{{/link-to}}</span>
		<ul>
			<li>
				<span>{{#link-to "player.item"}}背包{{/link-to}}</span>
			</li>
			<li>
				<span>{{#link-to "player.equipment"}}裝備{{/link-to}}</span>
			</li>
			<li>
				<span>{{#link-to "player.depot"}}倉庫{{/link-to}}</span>
			</li>
			<li><span>{{#link-to "player.exchange"}}資源{{/link-to}}</span></li>
			<li><span>{{#link-to "player.chexp"}}職業熟練{{/link-to}}</span></li>
			<li><span>{{#link-to "player.skill"}}已學技能{{/link-to}}</span></li>
			<li><span>{{#link-to "player.skill.setup"}}配置技能{{/link-to}}</span></li>
			<li><span>{{#link-to "player.mission"}}任務{{/link-to}}</span></li>
			<li><span>{{#link-to "player.pet"}}寵物{{/link-to}}</span></li>
			<li><span>{{#link-to "player.mercenary"}}傭兵{{/link-to}}</span></li>
			<li><span>{{#link-to "player.buff"}}增益{{/link-to}}</span></li>
			<li><span>{{#link-to "player.message"}}訊息{{/link-to}}</span></li>
			<li><span>{{#link-to "player.log"}}紀錄{{/link-to}}</span></li>
			<li><span>{{#link-to "player.mail"}}信箱{{/link-to}}</span></li>
			<li><span>{{#link-to "player.friend"}}好友{{/link-to}}</span></li>
			<li><span>{{#link-to "player.team"}}隊伍{{/link-to}}</span></li>
			<li><span>{{#link-to "player.team.join"}}入隊{{/link-to}}</span></li>
		</ul>
	</li>
	<li>
		<span>{{#link-to "item"}}物品管理{{/link-to}}</span>
		<ul>
			<li><span>{{#link-to "item.used"}}消耗品{{/link-to}}</span></li>
			<li><span>{{#link-to "item.stone"}}魔石{{/link-to}}</span></li>
			<li><span>{{#link-to "item.plus"}}精煉石{{/link-to}}</span></li>
			<li><span>{{#link-to "item.key"}}鑰匙{{/link-to}}</span></li>
			<li><span>{{#link-to "item.honor"}}勳章換物{{/link-to}}</span></li>
			<li><span>{{#link-to "item.syn"}}合成{{/link-to}}</span></li>
			<li><span>{{#link-to "item.sale"}}拍賣{{/link-to}}</span></li>
		</ul>
	</li>

	<li><span>{{#link-to "character"}}職業管理{{/link-to}}</span>
		<ul>
			<li><span>{{#link-to "character.skill"}}技能{{/link-to}}</span></li>
		</ul>
	</li>

	<li><span>{{#link-to "exchange"}}資源管理{{/link-to}}</span>
		<ul>
			<li><span>{{#link-to "exchange.log"}}市場紀錄{{/link-to}}</span></li>
		</ul>
	</li>

	<li><span>其他</span>
		<ul>
			<li><span>{{#link-to "avatar"}}頭像{{/link-to}}</span></li>
			<li><span>{{#link-to "monster"}}怪物{{/link-to}}</span></li>
		</ul>
	</li>
</ul>