<ul class="easyui-tree">
	<li>
		<span>{{#link-to "player"}}玩家管理{{/link-to}}</span>
		<ul>
			<li>
				<span>{{#link-to "player.item"}}背包{{/link-to}}</span>
			</li>
			<li>
				<span>{{#link-to "player.equipment"}}裝備{{/link-to}}</span>
			</li>
			<li>
				<span>{{#link-to "player.depot"}}倉庫{{/link-to}}</span>
			</li>
			<li><span>{{#link-to "player.exchange"}}資源{{/link-to}}</span></li>
			<li><span>{{#link-to "player.chexp"}}職業熟練{{/link-to}}</span></li>
			<li><span>{{#link-to "player.skill"}}已學技能{{/link-to}}</span></li>
			<li><span>{{#link-to "player.skill.setup"}}配置技能{{/link-to}}</span></li>
			<li><span>{{#link-to "player.mission"}}任務{{/link-to}}</span></li>
			<li><span>{{#link-to "player.pet"}}寵物{{/link-to}}</span></li>
			<li><span>{{#link-to "player.mercenary"}}傭兵{{/link-to}}</span></li>
			<li><span>{{#link-to "player.buff"}}增益{{/link-to}}</span></li>
			<li><span>{{#link-to "player.message"}}訊息{{/link-to}}</span></li>
			<li><span>{{#link-to "player.log"}}紀錄{{/link-to}}</span></li>
			<li><span>{{#link-to "player.mail"}}信箱{{/link-to}}</span></li>
			<li><span>{{#link-to "player.friend"}}好友{{/link-to}}</span></li>
		</ul>
	</li>
	<li>
		<span>物品管理</span>
	</li>
</ul>