<ul class="easyui-tree">
	<li>
		<span>{{#link-to "player"}}玩家管理{{/link-to}}</span>
		<ul>
			<li>
				<span>{{#link-to "playeritem"}}背包{{/link-to}}</span>
			</li>
			<li>
				<span>裝備</span>
			</li>
			<li>
				<span>裝備</span>
			</li>
		</ul>
	</li>
	<li>
		<span>物品管理</span>
	</li>
</ul>